<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <h2>MedConnect</h2>
        <a href="{% url 'doctor_appointments' %}" class="active"><span class="icon">📅</span> View Appointments</a>
        <a href="{% url 'doctor_profile' %}"><span class="icon">👤</span> My Profile</a>
        <a href="#"><span class="icon">👥</span> Manage Patients</a>
        <a href="{% url 'appointment_history' %}"><span class="icon">📜</span> History</a>
        <a href="{% url 'logout' %}"><span class="icon">🔓</span> Logout</a>
    
    </div>
    
</body>
</html>




